.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr!important;
    padding: 6rem 2rem;
    width: 100vw;
}
.left_box{
    padding: 1rem;
}
.right_box{
    padding: 1rem;
    overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   border: 1px rgb(186, 186, 186) solid;
}
.preview_template{
    height:15rem!important;
    /* width: 10rem!important; */
    display: grid!important;
    grid-template-columns: 1fr 1fr!important;
    gap: 1rem;
}
.animation{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.animation img{
    width: 100%!important;
    height: 100%!important;
}


.right_box div{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    font-size: .5rem;
}
.right_box div img{
    height: 4rem;
    width: 4rem;
}
.color_plate{
   height: 8rem!important;
}
.suggestion_box{
    padding: 1rem;
}
.suggestion_box h1{
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.section_1 ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
}
.section_1 ul li{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 1rem;
    background-color: aliceblue;
}
.section_1 ul li:hover{
   background-color: white;
   
}
.section_1 ul li{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
    .img_bulb{
        height: 2rem!important;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    
    }
    .img_bulb img{
        height: 100%;
        width: 100%;
        filter: drop-shadow(3px 1px 3px #000000);
    }
    .showmore_btn{
        border-radius: 15px;
        padding: .5rem;
        border: none;
        background-color: rgb(88, 183, 255);
        color: white;
        font-size: .7rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    .showmore_btn:hover{
        background-color: rgb(218, 218, 218);
        color: black;

    }
    .cat{
        position: absolute;
        height:7rem!important;
        bottom: 37%;
        width: 3.7rem!important;
        display: flex;
        flex-direction: column;
       justify-content: end;
       overflow: hidden;
    }
    .cat img{
        bottom: -10px;
        height: 9rem!important;
        width: 9rem!important;
        margin-bottom: -2.5rem;
        margin-left: -3rem;
    }
    .animation_box{
        display: flex;
        flex-direction: column;
        height: 16rem!important;
    }
 
    .progress{

    }
    .preview_button{
        display: none;
    }
    @media (max-width:500px){
        .right_box{
            display: none;
        }
        .preview_button{
            display: unset;
            position: fixed;
            top: 85%;
            right: 4%;
            z-index: 99;
        }
    }