.main {
   width: 850px;
   height: 1130px;
   background-color: white;
   font-size: 14px;
}

.contact_info{
   list-style: none!important;
}

.container {
   display: grid;
   grid-template-columns: 1fr 2fr;
}

.img_box {
   height: 11.5rem;
   width: 11.5rem;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   margin-left: -2.3rem!important;
   padding: 3rem!important;
   background-color: white;
}



.img_box img {
   height: 100%;
   width: 100%;
   border-radius: 50%;
}

.left_section {
   display: flex;
   flex-direction: column;
   padding: 2rem 1rem;
   gap: 2rem;
   text-align: left;
}

.info_box {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 1rem 1rem;

}

.education {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 1rem 1rem;
}

.img_container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.right_section {
   display: flex;
   flex-direction: column;
   gap: .5rem;
   padding: 2rem 1rem;
   height: 65.3rem;
   /* 1240px / 16px = 77.5rem */
   font-size: 14px;
}

.right_section p {
   width: 95%!important;
   display: flex;
   flex-direction: column;
   text-align: left;
   list-style: none;
}

.right_section ul li {
   margin-left: 1.5rem;
}

.right_section ul li {
   width: 95%!important;
}

.work_history {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.heading {
   padding: 3rem 1rem;
}

.certifications {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: .5rem;
}

.skills {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: .5rem;
}

.skills ul {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
}

.professional_summary {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: .5rem;
}

.work {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: .5rem;
}

hr {
   margin-left: 1rem;
}

.info_box p {
   display: flex;
   gap: .5rem;
   align-items: center;
   
}

.certifications ul {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
}

.header {
   height: 8rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2rem 1rem;
   background-color: rgb(201, 198, 198);
   overflow: hidden;
   font-size: 14px;
}



.name_box {
   width: 70%;
   height: 100%;
   padding: 1rem;
}

.section {
   display: flex;
   flex-direction: column;
   gap: .5rem;
}

.work_entry {
   display: grid;
   grid-template-columns: 1fr;
}

.inner_div {
   border-left: 1px rgb(0, 0, 0) solid;
   padding: 1rem .5rem;
   margin-left: -1rem;
}

.section_title {
   display: flex;
   align-items: center;
   gap: 2.7rem;
}

.description {
   width: 25rem;
}

.contact_value {
   display: flex;
   align-items: center;
  
}
.contact_value span,p {
 margin:0;


}

.contact_label {
   font-size: small;
}

.contact_info {
   display: flex;
   flex-direction: column;
   margin:0;
   list-style:none;
   gap:.5rem;
   list-style: none!important;
}


.skills_list {
   display: flex;
   flex-direction: column;
   gap: .5rem;
   padding-top: 1rem;
}
.name{
 margin:0rem;
}
.work-info h3,p{
 margin:0rem;
}
.ul{
 margin-top:-1rem;
}

.name_box{
 margin-top:0rem!important;
 display: flex;
justify-content: center;
 flex-direction: column;
margin-right: 7rem!important;

}
.icon{
 height:1rem;
 width:1rem;
 margin-left:-1rem;
}
.contact_value{
 margin-left:-2rem; 
}
.contact_value{
   display: flex;
   align-items: center;
   text-align: left!important;
}
.contact_value p{
   display: grid;
   margin: .2rem!important;
   text-align: left!important;
   list-style: none!important;
}

/* modal.module.css */
.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .modal {
   background: white;
   padding: 20px;
   border-radius: 8px;
   max-width: 400px;
 }
 
 .closeButton {
   background: #000000;
   padding: 8px 16px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   margin-bottom: 10px;
   color: white;

 }
 .closeButton:hover{
   background: white;
   color: black;
 }
 .download_box{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   justify-content: center;
 }
 .down_img_box{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   justify-content: center;
   overflow: hidden;
 }
 .down_img_box img{
   height: 100%;
   width: 100%;
 }
 .icon_download{
   height: 6rem;
   width: 6rem;
   text-align: center;
 }
 .icon_download:hover{
   border: 1px rgb(0, 42, 255) solid;
   border-radius: 5px ;
 }
 .icon_download img{
   height: 100%;
   width: 100%;
 }
 .down_btn_box{
   display: flex;
   justify-content: space-between;
   height: 10rem;
 }
 .download_btn {
   position: fixed;
   margin-top: -2rem!important;
}