/* components/ForgetPassword.module.css */
.container {
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center!important;
    height: 100vh!important; /* 100% of the viewport height */
    cursor: none;
  }
  
  .formContainer {
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    padding: 1rem!important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
  }
  .formContainer form{
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    padding: 1rem!important;
    gap: 1rem;
  }
  
  .formLabel {
    margin-bottom: 10px!important;
    display: grid!important;
    justify-content: space-between!important;
    grid-template-columns: 1fr ;
    gap: 1rem;
    align-items: center;
    font-size: medium;
  }
  
  .formInput {
    padding: 8px!important;
    margin-bottom: 15px!important;
    width: 18rem;
    outline: #4caf50;
  }
  
  .formButton {
    padding: 10px!important;
    background-color: #4caf50!important;
    color: white!important;
    border: none!important;
    border-radius: 5px!important;
    cursor: pointer!important;
  }
  
  .formButton:hover {
    background-color: #45a049!important;
  }
  
  .formTitle {
    margin-bottom: 20px!important;
  }
  
  .navBar{
    position: absolute;
    top: 0!important;
    left: 0;
  }