
.main {
    width: 850px;
    height: 1130px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    box-sizing: border-box;
    background-color: white;
}
.download_btn {
    position: fixed;
    margin-top: -2rem!important;
}

.img_box{
height: 7rem;
width: 7rem;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;

}
.img_box img{
height: 100%;
width: 100%;
}
.left_section{
display: flex;
flex-direction: column;
padding: 3rem 1rem;
height: 1112px;
text-align: left;

}

.info_box{
width: 100%;
display: flex;
flex-direction: column;

padding: 1rem 1rem;
}
.education{
width: 100%;
display: flex;
flex-direction: column;

padding: 1rem 1rem;
}
.img_container{
display: flex;
align-items: center;
justify-content: center;
}
.right_section{
display: flex;
flex-direction: column;

}
.right_section p{
width: 95%!important;
display: flex;
flex-direction: column;
text-align: left;
list-style: none;

}
.right_section ul li{
margin-left:1.5rem ;

}
.right_section ul li {
width: 95%!important;
}
.work_history{
display: flex;
flex-direction: column;

}
.heading{
background-color: aliceblue;
padding: 3rem 1rem;
}
.certifications{
padding: 1rem;
display: flex;
flex-direction: column;
gap: .5rem;
}
.skills{
padding: 1rem;
display: flex;
flex-direction: column;
gap: .5rem;

}
.skills ul{
display: grid;
grid-template-columns: 1fr ;
gap: .5rem;


}
.professional_summary{
padding: 1rem;
display: flex;
flex-direction: column;
gap: .5rem;
}
.work{
padding: 1rem;
display: flex;
flex-direction: column;
gap: .5rem;
}
hr{
margin-left: 1rem;
}
.info_box p{
display: flex;
gap: .5rem;
align-items: center;
margin:0rem;
}
.certifications ul{
display: grid;
grid-template-columns: 1fr ;
gap: .5rem;

}
.edu{
flex-direction: column;
display: flex;
gap:.5rem;
}
.edu h4,p{
margin:0rem; 
}
.certi-ul {
margin-top:-1rem;
margin-left:-2.7rem;
flex-direction: column;
display: flex;
gap:.5rem;
}
.certi-ul li h5,p{
margin:0rem; 
}
.skill-ul{
margin-top:-1rem;
margin-left:-2.7rem;
}
.line{
width:98%;
}
.work-ul{

margin-top:-1rem;
margin-left:-2.7rem;
flex-direction: column;
display: flex;
gap:.5rem;

}
.work-ul li h4,p{
margin:0rem;  
}



/* modal.module.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
  }
  
  .closeButton {
    background: #000000;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    color: white;

  }
  .closeButton:hover{
    background: white;
    color: black;
  }
  .download_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }
  .down_img_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    overflow: hidden;
  }
  .down_img_box img{
    height: 100%;
    width: 100%;
  }
  .icon_download{
    height: 6rem;
    width: 6rem;
    text-align: center;
  }
  .icon_download:hover{
    border: 1px rgb(0, 42, 255) solid;
    border-radius: 5px ;
  }
  .icon_download img{
    height: 100%;
    width: 100%;
  }
  .down_btn_box{
    display: flex;
    justify-content: space-between;
    height: 10rem;
  }
